.footer-container{
    background-color: #F5D6C9;
    padding-top: 20px;
}

.footer-section-01{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 60px 20px 60px;
    padding: 10px 0 10px 0;
    gap: 10px;
    background-color: #F5F1EE;
}

.footer-section-01-left{
    font-size: 30px;
    font-weight: 600;
    color: #C97C5D;
}

.footer-section-01-right{
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer-section-01-right div{
    color: #4A4A4A;
}

.newsletter-form{
    display: flex;
    gap: 20px;
}

#newsletter_email{
    width: 300px;
    height: 35px;
    padding-left:15px;
    outline: none;
    background-color: #F5D6C9;
    border: none;
    color: #4A4A4A;
}

#newsletter_submit{
    width: 100px;
    height: 38px;
    cursor: pointer;
    border: 2px solid #C97C5D;
    color: #F5F1EE;
    font-weight: 600;
    background-color: #C97C5D;
}

.footer-section-02{
    background-color: #D9957A;
    display: flex;
    flex-direction: row;
    padding: 20px 60px 20px 60px;
    justify-content: space-between;
    color: #F5F1EE;
    font-size: 18px;
}

.footer-section-02-right{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer-section-02-right div{
    cursor: pointer;
}