.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 60px 20px 60px;
    align-items: center;
    background-color: #F5F1EE;
}

.header-section-01{
    font-size: 38px;
    font-weight: 600;
    color: #C97C5D;
    cursor:pointer;
}

.header-section-02{
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: 22px;
    color: #4A4A4A;
}

.header-section-02 div{
    cursor: pointer;
}

.header-section-03{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    color: #4A4A4A;
}

.header-section-03 div{
    cursor:pointer;
}

.header-login-button a{
    text-decoration: none;
    color: #C97C5D;
}

.header-register-button{
    border: 2px solid #C97C5D;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #C97C5D;
}

.header-register-button a{
    color: #F5F1EE;
    text-decoration: none;
}

.header-menu-options {
    position: relative;
}

.header-dropdown-menu {
    position: absolute;
    top: 45px;
    right: 0;
    width: 250px;
    background: #F5F1EE;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    display: none;
    z-index: 1000;
}

.header-dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 20px 15px;
}

.header-dropdown-menu li {
    padding: 12px 14px;
}

.header-dropdown-menu li a {
    text-decoration: none;
    color: #4A4A4A;
    font-size: 20px;
    display: block;
}

.published-blogs, .my-profile{
    border-top: 1px solid #C97C5D;
    border-bottom: 1px solid #C97C5D;
}

.all-blogs{
    border-top: 1px solid #C97C5D;
}

.change-password{
    border-bottom: 1px solid #C97C5D;
}
